#form_container {
    border-radius: 30px;
    margin-left: 450px;
    padding: 40px 0px;
    display: flex;
    width: 25%;
    background-color: silver;
    background: 2px solid red;
    justify-content: center;
}

.form_group {
    padding-bottom: 18px;
}

.form_group label {
    margin: 5px;
    font-size: 20px;
}

.form_group input {
    height: 25px;
    width: 100%;
    border-radius: 10px;
}

.form_group button {
    font-size: 15px;
    padding: 2px 5px;
    border-radius: 9px;
}

.form_group button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}